**/auto
*.aux
*.bbl
*.blg
*.cache
*.fdb_latexmk
*.fls
*.glob
*.log
*.nav
*.snm
*.toc
*.v.d
*.vio
*.vo
*.vok
*.vos
*.v-e
*.tex-old
.history
.bak
CoqSrc.mk
CoqSrc.mk.conf
.CoqSrc.mk.d
.coqdeps.d
_CoqProject
